<script>
    function deleteConfig(id) {
        if (confirm(`Are you sure to delete config ${id}?`)) {
            // Delete config
            console.log(`Deleting config ${id}`);
            const url = "/delete_config";
            const data = {
                "id": id
            };
            const other_params = {
                headers: {"content-type": "application/json; charset=UTF-8"},
                body: JSON.stringify(data),
                method: "POST",
                mode: "cors"
            };
            fetch(url, other_params)
                .then(function (response) {
                    if (response.ok) {
                        console.log(`Config ${id} deleted`);
                    } else {
                        console.log(`Delete config ${id} error`);
                    }
                })
                .then(function (response) {
                    location.reload();
                }).catch(function (error) {
                console.log(`Delete config ${id} error: ${error}`);
            });
        } else {
            // Do nothing
            console.log(`Cancel delete config ${id}`);
        }
    }

</script>

<h2>Current configs:</h2>
<p><%= JSON.stringify(config) %></p>
<form action="/" method="post">
    <label>Edit config:</label><br><br>
    <% for(var key in config) { %>
        <label for="config_id_<%= key %>"><%= key %></label>&emsp;
        <button type="button" onclick="deleteConfig(`<%= key %>` )">Delete config</button><br><br>
        <textarea id="config_id_<%= key %>" name="config_id_<%= key %>" rows="20"
                  cols="100"><%= config[key] %></textarea><br><br>
    <% } %>
    <input type="submit" value="Submit">
</form>

<a href="/add_config">Add config</a>