<h2>Current configs:</h2>
<p><%= JSON.stringify(config) %></p>
<form action="/" method="post">
    <label>Edit config:</label><br><br>
    <% for(var key in config) { %>
        <label for="config_id_<%= key %>"><%= key %></label><br><br>
        <textarea id="config_id_<%= key %>" name="config_id_<%= key %>" rows="20" cols="100"><%= config[key] %></textarea><br><br>
    <% } %>
    <input type="submit" value="Submit">
</form>

<a href="/add_config">Add config</a>