<script>
    function testGetConfig(id) {
        // Test get config
        window.open(`/config/${id}`, '_blank');
    }

    function testPostConfig(id) {
        // Test post config
        console.log(`Testing config ${id}`);
        const url = "/config";
        const data = {
            "id": id
        };
        const other_params = {
            headers: {"content-type": "application/json; charset=UTF-8"},
            body: JSON.stringify(data),
            method: "POST",
            mode: "cors"
        };
        fetch(url, other_params)
            .then(response => response.json())
            .then(function (json) {
                const str = JSON.stringify(json);
                alert(str);
                console.log(str);
            })
            .catch(function (error) {
                console.log(`Test config ${id} error: ${error}`);
            });
    }

    function deleteConfig(id) {
        if (confirm(`Are you sure to delete config ${id}?`)) {
            // Delete config
            console.log(`Deleting config ${id}`);
            const url = "/delete_config";
            const data = {
                "id": id
            };
            const other_params = {
                headers: {"content-type": "application/json; charset=UTF-8"},
                body: JSON.stringify(data),
                method: "POST",
                mode: "cors"
            };
            fetch(url, other_params)
                .then(function (response) {
                    if (response.ok) {
                        console.log(`Config ${id} deleted`);
                    } else {
                        console.log(`Delete config ${id} error`);
                    }
                })
                .then(function (response) {
                    location.reload();
                }).catch(function (error) {
                console.log(`Delete config ${id} error: ${error}`);
            });
        } else {
            // Do nothing
            console.log(`Cancel delete config ${id}`);
        }
    }
</script>

<h2>Current configs:</h2>
<p><%= JSON.stringify(config) %></p>
<p>Get request to /config/:id to test</p>
<p>Post request to /config with body {"id": "config_id"} to test</p>
<form action="/" method="post">
    <label>Edit config:</label><br><br>
    <% for(var key in config) { %>
        <label for="<%= key %>"><%= key %></label>&emsp;
        <button type="button" onclick="deleteConfig(`<%= key %>` )">Delete config</button>&emsp;
        <button type="button" onclick="testGetConfig(`<%= key %>` )">Test get config</button>&emsp;
        <button type="button" onclick="testPostConfig(`<%= key %>` )">Test post config</button><br><br>
        <textarea id="<%= key %>" name="<%= key %>" rows="10"
                  cols="100"><%= config[key] %></textarea><br><br>
    <% } %>
    <input type="submit" value="Submit">
</form>

<a href="/add_config">Add config</a>
